<a href="https://colab.research.google.com/github/tarunchand/Intelligent-Systems/blob/main/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
df = pd.read_csv('heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [ ]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
x = df.drop('target', axis=1)
y = df['target']
print('x=', x)
print('y=', y)

x=      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
y= 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
print('x train = ')
print(x_train)
print('y train =')
print(y_train)
print('x test = ')
print(x_test)
print('y test = ')
print(y_test)

x train =
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
165   67    1   0       160   286    0        0      108      1      1.5
230   47    1   2       108   243    0        1      152      0      0.0
198   62    1   0       120   267    0        1       99      1      1.8
76    51    1   2       125   245    1        0      166      0      2.4
166   67    1   0       120   229    0        0      129      1      2.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
280   42    1   0       136   315    0        1      125      1      1.8
78    52    1   1       128   205    1        1      184      0      0.0
55    52    1   1       134   201    0        1      158      0      0.8
43    53    0   0       130   264    0        0      143      0      0.4
47    47    1   2       138   257    0        0      156      0      0.0

     slope  ca  thal
165      1   3     2
230      2   0     2
198      1   2     3
76       1   0     2
166      1   2     3
..     ...  ..   ...
280      1   0     1
78       2   0     2
55       2   1     2
43       1   0     2
47       2   0     2

[242 rows x 13 columns]
y train =
165    0
230    0
198    0
76     1
166    0
      ..
280    0
78     1
55     1
43     1
47     1
Name: target, Length: 242, dtype: int64
x test =
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
200   44    1   0       110   197    0        0      177      0      0.0
199   65    1   0       110   248    0        0      158      0      0.6
56    48    1   0       122   222    0        0      186      0      0.0
202   58    1   0       150   270    0        0      111      1      0.8
120   64    0   0       130   303    0        1      122      0      2.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
300   68    1   0       144   193    1        1      141      0      3.4
20    59    1   0       135   234    0        1      161      0      0.5
142   42    0   2       120   209    0        1      173      0      0.0
274   47    1   0       110   275    0        0      118      1      1.0
1     37    1   2       130   250    0        1      187      0      3.5

     slope  ca  thal
200      2   1     2
199      2   2     1
56       2   0     2
202      2   0     3
120      1   2     2
..     ...  ..   ...
300      1   2     3
20       1   0     3
142      1   0     2
274      1   1     2
1        0   0     2

[61 rows x 13 columns]
y test =
200    0
199    0
56     1
202    0
120    1
      ..
300    0
20     1
142    1
274    0
1      1
Name: target, Length: 61, dtype: int64

In [ ]:
from sklearn.naive_bayes import GaussianNB
model_gas = GaussianNB()
model_gas.fit(x_train, y_train)
y_pred = model_gas.predict(x_test)
print('actual labels = ')
print(y_test)
print('predict labels = ')
print(y_pred)

actual labels =
200    0
199    0
56     1
202    0
120    1
      ..
300    0
20     1
142    1
274    0
1      1
Name: target, Length: 61, dtype: int64
predict labels =
[1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 1 0 0 1 1 1 0 1 0 0 0 0 1 0 1 1 0 1 0 1 1 1
 1 0 1 1 1 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0 0 1 0 0]

In [ ]:
accuracy = accuracy_score(y_test, y_pred) * 100
print('Accuracy = ', accuracy)

Accuracy =  81.9672131147541

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model_gas = MultinomialNB()
model_gas.fit(x_train, y_train)
y_pred = model_gas.predict(x_test)
print('actual labels = ')
print(y_test)
print('predict labels = ')
print(y_pred)

actual labels =
200    0
199    0
56     1
202    0
120    1
      ..
300    0
20     1
142    1
274    0
1      1
Name: target, Length: 61, dtype: int64
predict labels =
[1 0 1 0 0 1 1 1 1 0 1 1 1 0 1 1 0 0 1 1 1 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1
 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1 0 1]

In [ ]:
accuracy = accuracy_score(y_test, y_pred) * 100
print('Accuracy = ', accuracy)

Accuracy =  78.68852459016394

In [ ]:
from sklearn.naive_bayes import BernoulliNB
model_gas = BernoulliNB()
model_gas.fit(x_train, y_train)
y_pred = model_gas.predict(x_test)
print('actual labels = ')
print(y_test)
print('predict labels = ')
print(y_pred)

actual labels =
200    0
199    0
56     1
202    0
120    1
      ..
300    0
20     1
142    1
274    0
1      1
Name: target, Length: 61, dtype: int64
predict labels =
[0 0 1 0 0 1 0 1 1 0 1 1 1 0 0 1 0 0 0 1 1 0 0 0 0 1 0 1 0 1 1 0 1 0 1 1 1
 0 0 1 1 1 0 0 1 1 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1]

In [ ]:
accuracy = accuracy_score(y_test, y_pred) * 100
print('Accuracy = ', accuracy)

Accuracy =  81.9672131147541

In [ ]:
model_gas = GaussianNB()
model_gas.fit(x_train, y_train)
y_pred = model_gas.predict(x_test)
print('Accuracy = ', accuracy)
model_gas = MultinomialNB()
model_gas.fit(x_train, y_train)
y_pred = model_gas.predict(x_test)
accuracy = accuracy_score(y_test, y_pred) * 100
print('Accuracy = ', accuracy)